### Import Library

In [ ]:
import pandas as pd

### Create DataFrame

In [ ]:
df1 = pd.DataFrame(
    {
        "Product ID": [1, 2, 3, 4],
        "Product Name": ["t-shirt", "t-shirt", "skirt", "skirt"],
        "Color": ["blue", "green", "red", "black"],
    }
)
df1

In [ ]:
df2 = pd.DataFrame(
    [
        [1, "San Diego", 100],
        [2, "Los Angeles", 120],
        [3, "San Francisco", 90],
        [4, "Sacramento", 115],
    ],
    columns=["Store ID", "Location", "Number of Employees"],
)

df2

### Read CSV

In [ ]:
df = pd.read_csv("./csv/Electric_Vehicle_Population_Data.csv")
df.head(3)

### Select Column

In [ ]:
model_year = df["Model Year"]
type(model_year)
model_year.head()

### Select Multiple Columns

In [ ]:
model_and_range = df[["Model", "Electric Range"]]
model_and_range
type(model_and_range)

### Select Rows

In [ ]:
model_and_range.iloc[2]  # Select one row

In [ ]:
model_and_range.iloc[2:10]  # Select multiple row 2 to 10 (not including 10)

In [ ]:
model_and_range.iloc[:4]  # Select multiple row start to 4 (not including 4)

In [ ]:
model_and_range.iloc[-3:]  # Select multiple row (last 3 rows)

### Select Rows with Logic

In [ ]:
model3_df = model_and_range[model_and_range.Model == "MODEL 3"]
model3_df.head()

In [ ]:
range_greater_300 = model_and_range[
    (model_and_range["Electric Range"] > 300) & (model_and_range.Model != "MODEL 3")
]
range_greater_300.head()

In [ ]:
range_less_300 = model_and_range[model_and_range["Electric Range"] < 300]
range_less_300.head()

In [ ]:
tesla = df[(df.Make == "TESLA") | (df["Electric Range"] > 340)]
tesla.head()

In [ ]:
tesla_and_mercedes = df[df.Make.isin(["TESLA", "MERCEDES-BENZ"])]
tesla_and_mercedes.head()

In [ ]:
tesla_and_mercedes_reset_index = tesla_and_mercedes.reset_index(
    drop=True
)  # Drop module drops the extra column
tesla_and_mercedes_reset_index.head()